<div class="info-box clearfix">
  <div class="wrapper-content">
    <div class="info-social">
      <ul class="info-social-list">
        {% if site.youtube %}
        <li>
          <a href="{{ site.youtube }}" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        {% else %}
        {% endif %} 
        {% if site.facebook %}
        <li>
          <a href="{{ site.facebook }}" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>

        {% else %}
        {% endif %}
      </ul>
    </div>

  </div> <!-- /.info-wrapper -->
</div> <!-- /.info-box -->