$white: #ffffff;
$grayish: #f7f7f7;
$lightengray: #787878;
$gray: #5b5b5b;
$darkgray: #323232;
$black: #000000;

$blue: #00CED1;
$blue-highlighted: rgba(64, 224, 208);
$blue-transparency: rgba(64, 224, 207);
$grayblue: #7b7f90;
$lightblue: #bbc3cb;
$lightpurple: #999eb5;

$turquoisergba: rgba(64, 224, 208);
$light-turquoisergba: rgba(0, 197, 217, 0.1);