$white: #ffffff;
$grayish: #f7f7f7;
$lightengray: #787878;
$gray: #5b5b5b;
$darkgray: #323232;
$black: #000000;

$blue: #838B8B;
$blue-highlighted: rgba(139 ,139 ,131);
$blue-transparency: rgba(39 ,64 ,139);
$grayblue: #7b7f90;
$lightblue: #bbc3cb;
$lightpurple: #999eb5;

$turquoisergba: rgba(108, 123, 139);
$light-turquoisergba: rgba(0, 197, 217, 0.1);