$white: #ffffff;
$grayish: #f7f7f7;
$lightengray: #787878;
$gray: #5b5b5b;
$darkgray: #323232;
$black: #000000;

$blue: #8B4726;
$blue-highlighted: rgba(238 ,197 ,145,0.7);
$blue-transparency: rgba(238, 197 ,145,0.7);
$grayblue: #EEC591;
$lightblue: #EEC591;
$lightpurple: #EEC591;

$turquoisergba: rgba(238 ,197 ,145,0.7);
$light-turquoisergba: rgba(0, 197, 217, 0.1);